{% block body %}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            Your account has been disabled. Please contact the administrator to re-enable your account.
        </div>
    </div>
{% endblock %}